# Python bytecode files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/

# Flask migrations
migrations/

# Environment variables
.env

# IDE/editor files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
ehthumbs.db

# Log files
*.log
logs/

# Test coverage
.pytest_cache/
.coverage
coverage.xml

# Docker-related files
.dockerignore
*.dockerfile

# Build directories
build/
dist/
*.egg-info/

# Jupyter notebook checkpoints
.ipynb_checkpoints/


k8s/

vite-project